body{
    background-size: 400%;
}
.audio--container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-row-gap: .8rem;
}
.box img{
    transition: all 0.5s;
}
.box{
    position: relative;
    /* border: 5px solid black !important; */
    background-color: white;
}
.box::before{
    content: '';
    position: absolute;
    background-image:linear-gradient(45deg,blue,orange,red,rebeccapurple);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-position: right;
    background-size: 300%;
    width: 105%;
    height: 105%;
    transition: all 0.3s;
    z-index: -1;

    transition: all 2s;
    animation: moveCards 1s infinite alternate;

}

@keyframes moveCards {
    0%{
        background-position: right;
    }100%{
        background-position: left;

    }
}
@keyframes move {
    0%{
        background-position: right;
    }100%{
        background-position: left;

    }
}
.box:hover img{
    /* transform: translateY(-20px); */
    /* border: 1px solid black; */
}
.test{
    /* gap:1rem !important; */
}